build
/1-HolaMundoStruts/target/
/2-Convenciones-Struts2/target/
/3-PersonasStruts2/target/
/4-PersonasStruts2-Mensajes/target/
/5-LaboratorioUsandoStruts2/target/
/6-Struts2-ManejodeResultados/target/
/7-Struts2-ManejodeAnotaciones/target/
/8-Struts2-ManejoDeValidaciones/target/
/9-Struts2-OGNL-ObjectGraphicNavigationLanguage/target/
/10-PersonasStruts-ManejodeTags/target/
/11-PersonasStruts-Internacionalizacion/target/
/12-PersonasStruts-UsodeTiles/target/
/13-HibernateEjemplo1/target/
/14-HibernateEjemplo1-OperacionesBasicas/target/
/15-PersonasWebHibernateJPA/target/
/16-SgaWebHibernateJPA/target/
/17-SgaWebHibernateJPA-EstadosdePersistencia/target/
/18-SgaWebHibernateJPA-PersistenciaenCascada/target/
/19-SgaWebHibernateJPA-LaboratorioFinal/target/
/20-SgaWebHibernateJPA-Laboratoriopart2/target/
/20-SgaWebHibernateJPA-LaboratorioFinal/target/
